body{
	text-align: center;
	background-size: cover;
	background-image: url(http://i2.wp.com/ewedit.files.wordpress.com/2017/01/last-jedi.jpg?crop=0px%2C0px%2C2700px%2C1800px&resize=2000%2C1333&ssl=1);
	font-family: Helvetica;
	background-repeat: no-repeat;
	font-weight: 100;
}

h1{
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(165, 165, 165, .9);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
@media screen and (max-width:768px) {
	h1{
		color:#ffffff;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, .9);
		font-size: 35px;
	}
}

#clockdiv{
	font-family: Helvetica;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #333333;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #4a4a4a;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}